@import "./../../../styles/utils";

.testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}
.testimonial__top {
  margin-bottom: 50px;
}

.profile__name {
  font-family: $font_1;
  color: #858585;
  font-size: 23px;
  line-height: 59px;
  font-weight: 300;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.profile__separator {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  background-color: #858585;
  height: 1px;
  width: 39px;
}

.testimonio__title {
  color: #292929;
  font-family: $font_2;
  font-size: 60px;
  line-height: 59px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}
